<div *ngFor="let item of myPost?.articles">
  <div class="post-preview">
    <div class="post-meta">
      <a href="profile.html"><img src="{{ item.author.image }}" /></a>
      <div class="info">
        <a href="profile.html" class="author">{{item.author.username}}</a>
        <span class="date">{{item.createdAt | date}}</span>
      </div>
      <button class="btn btn-outline-primary btn-sm pull-xs-right">
        <i class="ion-heart"></i> {{item.favoritesCount}}
      </button>
    </div>
    <a href="post.html" class="preview-link">
      <h1>{{item.title}}</h1>
      <p>
        {{item.description}}
      </p>
      <span>Read more...</span>
    </a>
  </div>
</div>
