.cu-po {
  cursor: pointer;
}
.color-oran {
  color: #fa6342;
}
.tags {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 0.3rem;
}
.tags-post {
  padding: 10px;
}
.tags-post span {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin-left: 3px;
  font-size: 0.65rem;
  border-radius: 100rem;
  border: 1px solid #808080;
  background-color: transparent;
  font-weight: bold;
  transition: background-color 250ms ease, box-shadow 250ms ease;
}

.tags-post > span {
  color: red;
}
.buttons a {
  text-decoration: none;
  cursor: pointer;
}
.btn-comment {
  float: right;
  padding: 5px 15px;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: rgb(48, 187, 106);
}
.like-active {
  color: rgb(214, 77, 77);
}
.weather {
  margin-top: 15px;
}
.bg-custom {
  background-color: #5f748f !important;
  color: rgb(255, 255, 255) !important;
  border: none;
}
.custom-select:focus {
  border: none !important;
  box-shadow: none !important;
}
.bg-custom::placeholder {
  color: rgb(255, 255, 255) !important;
}
.form-control:focus {
  box-shadow: none !important;
}
.image-setting {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 200px;
}
.image-setting img {
  border-radius: 10px;
  width: auto;
  height: 100%;
}
@media (max-width: 994px) {
  .weather {
    display: none;
  }
}
@media (max-width: 548px) {
  .art-de-inf {
    display: flex;
  }
  .art-de-inf .employer-thmb img {
    flex-shrink: 1;
  }
}
