<div class="container-fluid" style="background: #edf2f6">
  <div class="row">
    <div class="col-lg-3 new-left">
      <aside class="sidebar static left">
        <div class="widget">
          <div class="weather-widget low-opacity">
            <div
              class="elfsight-app-4077d0c2-6b14-4483-a598-6b715291b312"
            ></div>
          </div>
        </div>
        <!-- weather widget-->
      </aside>

      <div class="widget" style="background: #fff none repeat scroll 0 0">
        <ul class="twiter-feed mt-3">
          <li class="mb-2" *ngFor="let article of results?.articles">
            <i class="fab fa-twitter-square"></i>
            <span>
              <i> {{ article.author.username }}</i>
              @{{ article.author.username }}
            </span>
            <p>
              {{ article.description | titlecase }}
              <a href="#" title=""
                ><i class="fas fa-heart"></i>{{ article.favoritesCount }}
              </a>
            </p>
            <em>{{ article.createdAt | date: "longDate" }}</em>
          </li>
        </ul>
      </div>
      <!-- twitter feed-->
    </div>

    <div class="col-lg-6">
      <app-article-feed></app-article-feed>
    </div>

    <div class="col-lg-3 new-right">
      <app-tag-list></app-tag-list>
    </div>
  </div>
  <div class="widget pitnik-links stick-widget">
    <p>© Blog App 2021. All Rights Reserved.</p>
  </div>
</div>
