<div class="container" style="background: #edf2f6">
  <div class="row">
    <div class="col-lg-3 new-left" >
      <aside class="sidebar static left">
        <div  style="height: 400px; overflow: hidden; z-index: -1">
          <div >
            <div
              class="elfsight-app-4077d0c2-6b14-4483-a598-6b715291b312"
            ></div>
          </div>
        </div>
        <!-- weather widget-->
      </aside>
    </div>

    <div class="col-lg-6 new-mid">
      <app-article-feed></app-article-feed>
    </div>

    <div class="col-lg-3 new-right" >
      <app-tag-list></app-tag-list>
    </div>
  </div>
</div>

