<div class="container-fluid" style="background: #edf2f6">
  <div class="row">
    <div class="col-lg-3 new-left">
      <aside class="sidebar static left">
        <div class="widget">
          <div class="weather-widget low-opacity bluesh">
            <div
              class="bg-image"
              style="background-image: url(assets/images/resources/weather.jpg)"
            ></div>
            <span class="refresh-content"><i class="fa fa-refresh"></i></span>
            <div class="weather-week">
              <div class="icon sun-shower">
                <div class="cloud"></div>
                <div class="sun">
                  <div class="rays"></div>
                </div>
                <div class="rain"></div>
              </div>
            </div>
            <div class="weather-infos">
              <span class="weather-tem">25</span>
              <h3>Cloudy Skyes<i>Sicklervilte, New Jersey</i></h3>
              <div class="weather-date skyblue-bg">
                <span>MAY<strong>21</strong></span>
              </div>
            </div>
            <div class="monthly-weather">
              <ul>
                <li>
                  <span>Sun</span>
                  <a href="#" title=""><i class="wi wi-day-sunny"></i></a>
                  <em>40°</em>
                </li>
                <li>
                  <span>Mon</span>
                  <a href="#" title=""><i class="wi wi-day-cloudy"></i></a>
                  <em>10°</em>
                </li>
                <li>
                  <span>Tue</span>
                  <a href="#" title=""><i class="wi wi-day-hail"></i></a>
                  <em>20°</em>
                </li>
                <li>
                  <span>Wed</span>
                  <a href="#" title=""><i class="wi wi-day-lightning"></i></a>
                  <em>34°</em>
                </li>
                <li>
                  <span>Thu</span>
                  <a href="#" title=""><i class="wi wi-day-showers"></i></a>
                  <em>22°</em>
                </li>
                <li>
                  <span>Fri</span>
                  <a href="#" title=""><i class="wi wi-day-windy"></i></a>
                  <em>26°</em>
                </li>
                <li>
                  <span>Sat</span>
                  <a href="#" title=""
                    ><i class="wi wi-day-sunny-overcast"></i
                  ></a>
                  <em>30°</em>
                </li>
              </ul>
            </div>
          </div>
          <!-- Weather Widget -->
        </div>
        <!-- weather widget-->
      </aside>

      <div class="widget" style="background: #fff none repeat scroll 0 0">
        <ul class="twiter-feed mt-3">
          <li class="mb-2" *ngFor="let article of results?.articles">
            <i class="fab fa-twitter-square"></i>
            <span>
              <i> {{ article.author.username }}</i>
              @{{ article.author.username }}
            </span>
            <p>
              {{ article.description | titlecase }}
              <a href="#" title=""
                ><i class="fas fa-heart"></i>{{ article.favoritesCount }}
              </a>
            </p>
            <em>{{ article.createdAt | date: "longDate" }}</em>
          </li>
        </ul>
      </div>
      <!-- twitter feed-->
    </div>

    <div class="col-lg-6">
      <app-article-feed></app-article-feed>
    </div>

    <div class="col-lg-3 new-right">
      <app-tag-list></app-tag-list>
    </div>
  </div>
  <div class="widget pitnik-links stick-widget">
    <p>© Blog App 2021. All Rights Reserved.</p>
  </div>
</div>
