.profile-page .user-info {
  text-align: center;
  background: #f3f3f3;
  padding: 2rem 0 1rem 0;
}
.profile-page .user-info .user-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 1rem;
}
.profile-page .user-info h4 {
  font-weight: 700;
}
.profile-page .user-info p {
  margin: 0 auto 0.5rem auto;
  color: #aaa;
  max-width: 450px;
  font-weight: 300;
}
.profile-page .user-info .action-btn {
  float: right;
  color: #999;
  border: 1px solid #999;
}
.profile-page .posts-toggle {
  margin: 1.5rem 0 -1px 0;
}
@import "home.scss";
@import "post.scss";
@import "profile.scss";
@import "editor.scss";
@import "auth.scss";
@import "settings.scss";
@import "./bootstrap/scss/bootstrap.scss";
.logo-font {
  font-family: "Titillium Web", sans-serif;
}
html {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}
.navbar-brand {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem !important;
  padding-top: 0rem !important;
  margin-right: 2rem !important;
  color: #5cb85c !important;
}
.nav-link:hover {
  transition: 0.1s all;
}
.nav-pills.outline-active .nav-link {
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid transparent;
  background: transparent;
  color: #aaa;
}
.nav-pills.outline-active .nav-link:hover {
  color: #555;
}
.nav-pills.outline-active .nav-link.active {
  background: #fff !important;
  border-bottom: 2px solid #5cb85c !important;
  color: #5cb85c !important;
}
footer {
  background: #f3f3f3;
  margin-top: 3rem;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .attribution {
  vertical-align: top;
  margin-left: 10px;
  font-size: 0.8rem;
  color: #bbb;
  font-weight: 300;
}
.error-messages {
  color: #b85c5c !important;
  font-weight: bold;
}
.banner {
  color: #fff;
  background: #333;
  padding: 2rem;
  margin-bottom: 2rem;
}
.banner h1 {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 0px;
}
.container.page {
  margin-top: 1.5rem;
}
.preview-link {
  color: inherit !important;
}
.preview-link:hover {
  text-decoration: inherit !important;
}
.post-meta {
  display: block;
  position: relative;
  font-weight: 300;
}
.post-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
.post-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}
.post-meta .info .author {
  display: block;
  font-weight: 500 !important;
}
.post-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}
.post-preview {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
}
.post-preview .post-meta {
  margin: 0 0 1rem 0;
}
.post-preview .preview-link h1 {
  font-weight: 700 !important;
  font-size: 2rem !important;
}
.post-preview .preview-link p {
  font-family: "Source Serif Pro", serif;
  margin-bottom: 0;
}
.post-preview .preview-link span {
  font-size: 0.8rem;
  font-weight: 300;
  color: #bbb;
}
.btn .counter {
  font-size: 0.8rem !important;
}
