.activeDanger {
  background-color: #fa6342 !important;
  color: white !important;
}
.defaultDanger {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 992px){
  .weather{
    display: none;
  }
}
