<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img src="{{ profile?.profile?.image }}" class="user-img" />
          <h4>{{ profile?.profile?.username }}</h4>
          <div *ngIf="checkUser">
            <button
              class="btn btn-sm btn-outline-secondary action-btn"
              (click)="editProfile()"
            >
              <i class="ion-plus-round"></i>
              &nbsp; Edit profile settings
            </button>
          </div>
          <div *ngIf="!checkUser">
            <button
              class="btn btn-sm btn-outline-secondary action-btn"
              *ngIf="checkFollow"
              (click)="unFollow(profile.profile.username)"
            >
              <i class="ion-plus-round"></i>
              &nbsp; Unfollow {{ profile?.profile?.username }}
            </button>
            <button
              class="btn btn-sm btn-outline-secondary action-btn"
              *ngIf="!checkFollow"
              (click)="follow(profile.profile.username)"
            >
              <i class="ion-plus-round"></i>
              &nbsp; Follow {{ profile?.profile?.username }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="posts-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile/{{ profile?.profile?.username}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">My Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['favorites']" routerLinkActive="active">Favorited Posts</a>
            </li>
          </ul>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
