<div class="article-list" *ngFor="let article of articles; let i = index">
  <div
    class="article-meta my-4"
    style="border-bottom: 1px solid rgb(136, 136, 136)"
  >
    <div class="container px-0">
      <div class="row">
        <div class="col-sm-10 d-flex">
          <a [routerLink]="['/profile', article.author.username]">
            <img
              [src]="article.author.image"
              style="width: 51px; height: 51px; border-radius: 50%"
            />
          </a>
          <div class="info d-inline mx-3">
            <a [routerLink]="['/profile', article.author.username]">
              {{ article.author.username }}
            </a>
            <span class="date d-block">
              {{ article.createdAt | date: "longDate" }}
            </span>
          </div>
        </div>
        <div class="col-sm-2">
          <button
            class="col-sm-2 btn btn-dark"
            style="width: 50px; height: 50px; float: right"
          >
            <div (click)="toggleFavorite(i)" class="pull-xs-right text-white">
              {{ article.favoritesCount }}
            </div>
          </button>
        </div>
      </div>
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <a [routerLink]="['/article', article.slug]" class="preview-link">
        <div class="row">
          <div class="col-sm-8">
            <span>Read more...</span>
          </div>
          <div class="col-sm-4">
            <ul class="tag-list d-flex" style="float: right">
              <li
                class="tag-default tag-pill tag-outline mx-1 p-2"
                *ngFor="let tag of article.tagList"
              >
                {{ tag }}
              </li>
            </ul>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- <div [hidden]="!loadData">Loading articles...</div> -->

  <!-- <div *ngIf="article.tagList.length">No articles are here... yet.</div> -->

  <!-- <nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">
    <li
      class="page-item"
      [ngClass]="{ active: pageNumber === currentPage }"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)"
    >
      <a class="page-link">{{ pageNumber }}</a>
    </li>
  </ul>
</nav> -->
</div>
