<div class="article-preview row" *ngFor="let article of articles?.articles">
  <div class="col-2">
    <app-favorited [article]="article" ></app-favorited>
  </div>
  <div class="col-10">
    <div class="article-meta">
      <a [routerLink]="['/profile', article.author.username]">
        <img [src]="article.author.image" style="width: 30px; height: 30px" />
      </a>

      <div class="info">
        <a class="author" [routerLink]="['/profile', article.author.username]">
          {{ article.author.username }}
        </a>
        <span class="date">
          {{ article.createdAt | date: "longDate" }}
        </span>
      </div>

      <a [routerLink]="['/article', article.slug]" class="preview-link">
        <h1>{{ article.title }}</h1>
        <p>{{ article.description }}</p>
        <span>Read more...</span>
        <ul class="tag-list">
          <li class="tag-default tag-pill tag-outline" *ngFor="let tag of article.tagList">
            {{ tag }}
          </li>
        </ul>
      </a>
    </div>
  </div>


</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" (click)="previousPage()" [ngClass]="skip == 0 ? 'disabled' : ''">
      <a class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of totalPage; let i = index " [ngClass]="index == i ? 'active' : ''"  (click)='changePage(i)'><a class="page-link">{{i+1}}</a></li>
    <li class="page-item" [ngClass]="skip >= length - top ? 'disabled' : ''" (click)="nextPage()">
      <a class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
