<div class="feed-toggle mb-4" style="height: auto">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <button
        class="nav-link"
        [ngClass]="{ activeDanger: listConfig.type === 'feed' }"
        (click)="setListTo('feed')"
      >
        Your Feed
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        [ngClass]="{
          activeDanger: listConfig.type === 'all' && !listConfig.filters.tag
        }"
        (click)="setListTo('all')"
      >
        Global Feed
      </button>
    </li>
    <li
      class="nav-item activeDanger"
      style="border-radius: 3px"
      [hidden]="!listConfig.filters.tag"
    >
      <button class="nav-link text-white">
        <i class="ion-pound"></i> {{ listConfig.filters.tag }}
      </button>
    </li>
  </ul>
</div>
<app-article-home-list></app-article-home-list>
