<div class="feed-toggle mt-2" style="height: 50px">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <button
        class="nav-link"
        [ngClass]="{ activeDanger: listConfig.type === 'feed' }"
        (click)="setListTo('feed')"
      >
        Your Feed
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        [ngClass]="{
          activeDanger: listConfig.type === 'all' && !listConfig.filters.tag
        }"
        (click)="setListTo('all')"
      >
        Global Feed
      </button>
    </li>
    <li
      class="nav-item activeDanger"
      style="border-radius: 3px"
      [hidden]="!listConfig.filters.tag"
    >
      <button class="nav-link text-white">
        <i class="ion-pound"></i> {{ listConfig.filters.tag }}
      </button>
    </li>
  </ul>
</div>

<div class="central-meta postbox">
  <span class="create-post">Create post</span>
  <div class="new-postbox">
    <figure>
      <img
        src="https://api.realworld.io/images/demo-avatar.png"
        alt=""
        style="height: 40px; width: 40px; border-radius: 50%"
      />
    </figure>
    <div class="newpst-input" [routerLink]="['/new']">
      <form method="post">
        <textarea
          rows="2"
          placeholder="Share some what you are thinking?"
        ></textarea>
      </form>
    </div>
    <div class="attachments">
      <button
        class="post-btn"
        type="submit"
        data-ripple=""
        [routerLink]="['/new']"
      >
        Creat Post
      </button>
    </div>
    <div class="add-location-post">
      <span>Drag map point to selected area</span>
      <div class="row">
        <div class="col-lg-6">
          <label class="control-label">Lat :</label>
          <input type="text" class="" id="us3-lat" />
        </div>
        <div class="col-lg-6">
          <label>Long :</label>
          <input type="text" class="" id="us3-lon" />
        </div>
      </div>
      <div id="us3"></div>
    </div>
  </div>
</div>

<app-article-home-list></app-article-home-list>
