<section>
    <div class="page-header">
        <div class="header-inner">
            <h2>Login to Angular Blog</h2>
            <p>
                Discover what's happining right now in the world.
            </p>
        </div>
        <figure><img src="../../../../assets/images/resources/baner-forum.png" alt=""></figure>
    </div>
</section><!-- sub header -->

<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-1 col-lg-10">
                    <div class="row border-center justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="logout-f">
                                <h4><i class="fa fa-key"></i> Login</h4>
                                <div class="logout-form">
                                    <form class="again-login" [formGroup]="loginForm" (ngSubmit)="submitForm()">
                                        <input type="email" #input formControlName='email' placeholder="Email"
                                            aria-describedby="emailHelp">
                                        <small id="emailHelp" class="text-danger"
                                            *ngIf="loginForm.get('email')?.errors?.required && loginForm.get('email')?.touched">Email
                                            is
                                            required!</small>
                                        <input type="password" formControlName='password' placeholder="Password"
                                            aria-describedby="passwordHelp">
                                        <small id="passwordHelp" class="text-danger"
                                            *ngIf="loginForm.get('password')?.errors?.required && loginForm.get('password')?.touched">Password
                                            is
                                            required!</small>
                                        <button type="submit" [disabled]="loginForm.invalid">Login</button>
                                    </form>
                                    <p>Create New   <a [routerLink]="['../','register']" title=""> Signup</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="page-header">
        <figure><img src="../../../../assets/images/resources/baner-forum.png" alt=""></figure>
    </div>
</section>