<div class="container my-4">
    <h2>Sign in</h2>
    <form [formGroup]="loginForm" style="max-width: 400px;" (ngSubmit)="submitForm()" class="my-4">
        <div class="mb-3">
            <label for="email" class="form-label bold">Email:</label>
            <input type="email" class="form-control" id="email" formControlName='email'
                aria-describedby="emailHelp">
            <small id="emailHelp" class="text-danger"
                *ngIf="loginForm.get('email')?.errors?.required && loginForm.get('email')?.touched">Email is
                required!</small>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label bold">Password:</label>
            <input type="password" class="form-control" id="password" formControlName='password' aria-describedby="passwordHelp">
            <small id="passwordHelp" class="text-danger"
                *ngIf="loginForm.get('password')?.errors?.required && loginForm.get('password')?.touched">Password is
                required!</small>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success" style="margin-right: 10px; "
                [disabled]="loginForm.invalid">Login</button>
        </div>
    </form>
</div>