<section>
    <div class="gap no-gap signin whitish medium-opacity">
        <div class="bg-image" style="background-image:url(assets/images/resources/theme-bg.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="big-ad">
                        <figure><img src="assets/images/logo2.png" alt=""></figure>
                        <h1>Welcome to the Pitnik</h1>
                        <p>
                            Pitnik is a social network template that can be used to connect people. use this template
                            for multipurpose social activities like job, dating, posting, bloging and much more. Now
                            join & Make Cool Friends around the world !!!
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="we-login-register">
                        <div class="form-title">
                            <i class="fa fa-key"></i>login
                            <span>sign in now and meet the awesome Friends around the world.</span>
                        </div>
                        <form class="we-form" method="post" [formGroup]="loginForm" (ngSubmit)="submitForm()">
                            <input type="text" placeholder="Email" formControlName='email' aria-describedby="emailHelp">
                            <small id="emailHelp" class="text-danger"
                                *ngIf="loginForm.get('email')?.errors?.required && loginForm.get('email')?.touched">Email
                                is
                                required!</small>
                            <input type="password" placeholder="Password" formControlName='password'
                            aria-describedby="passwordHelp">
                            <small id="passwordHelp" class="text-danger"
                *ngIf="loginForm.get('password')?.errors?.required && loginForm.get('password')?.touched">Password is
                required!</small>
                            <button type="submit" data-ripple="" [disabled]="loginForm.invalid">sign in</button>
                        </form>
                        <span>don't have an account? <a class="we-account underline" [routerLink]="['../', 'register']" title="">register
                                now</a></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>